<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Add a Comic</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Add Comic</h1>
                        <form action="#" th:action="@{/saveComic}" th:object="${comic}" method="post">
                            <p><input type="hidden" th:field="*{id}" /></p>
                            <p>Title: <input type="text" th:field="*{title}" /></p>
                            <p>main link: <input type="text" th:field="*{mainLink}" /></p>
                            <p>current chapter: <input type="text" th:field="*{currChapter}" /></p>
                            <p>link prefix: <input type="text" th:field="*{activeLinkPrefix}" /></p>
                            <p>link suffix: <input type="text" th:field="*{activeLinkSuffix}" /></p>
                            <p><input type="submit" value="Submit"> <input type="reset" value="Reset"></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>