<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Main List</title>
    <link rel="stylesheet" th:href="@{/css/generalTable.css}"/>
    <style type="text/css">
        .inc-btn {
            text-align: center;
        }
    </style>
</head>

<body>

    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Comics</h1>
                        <table class="tg tg-striped">
                            <thead>
                                <tr>
                                    <th>comic</th>
                                    <th>increment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="comic: ${comics}">
                                    <td><a target="_blank" th:href="${comic.getActiveLink()}"
                                            th:text="${comic.title} + ' (' + ${comic.currChapter} + ')'"></a></td>
                                    <td class="inc-btn"><a class="btn btn-secondary"
                                            th:href="@{/incComic(id=${comic.id},sr=su)}">+1</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>