<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>New Comic added</title>
    <link rel="stylesheet" th:href="@{/css/generalTable.css}"/>
</head>

<body>

    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Comic Result</h1>
                        <table class="tg">
                            <tbody>
                                <tr>
                                    <td>ID</td>
                                    <td th:text="${comic.id}"></td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td th:text="${comic.title}"></td>
                                </tr>
                                <tr>
                                    <td>Main Link</td>
                                    <td th:text="${comic.mainLink}"></td>
                                </tr>
                                <tr>
                                    <td>Current Chapter</td>
                                    <td th:text="${comic.currChapter}"></td>
                                </tr>
                                <tr>
                                    <td>link prefix</td>
                                    <td th:text="${comic.activeLinkPrefix}"></td>
                                </tr>
                                <tr>
                                    <td>link suffix</td>
                                    <td th:text="${comic.activeLinkSuffix}"></td>
                                </tr>
                                <tr>
                                    <td>Notes</td>
                                    <td th:text="${comic.notes}"></td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td th:text="${comic.category}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>