<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Detailed List</title>
    <link rel="stylesheet" th:href="@{/css/generalTable.css}"/>
</head>

<body>
    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Comics</h1>
                        <table class="tg tg-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Current</th>
                                    <th>Total</th>
                                    <th>Category</th>
                                    <th>Notes</th>
                                    <th>Updated</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="comic: ${comics}">
                                    <td><a class="btn btn-secondary" th:href="@{/viewComic(id=${comic.id})}">view</a></td>
                                    <td>
                                        <a target="_blank" th:href="${comic.mainLink}" th:text="${comic.title}"></a>
                                    </td>
                                    <td>
                                        <a target="_blank" th:href="${comic.getActiveLink()}" th:text="'Chapter ' + ${comic.currChapter}"></a>
                                    </td>
                                    <td th:text="${comic.totalChapters}"></td>
                                    <td th:text="${comic.category}"></td>
                                    <td th:text="${comic.notes}"></td>
                                    <td th:text="${comic.wasUpdatedAgo()}"></td>
                                    <td><a class="btn btn-warning" th:href="@{/editComic(id=${comic.id})}">edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>

</html>