<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>fragments</title>

    <!-- Bootstrap CSS -->
    <link th:fragment="bootstrap" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

  <body>
    <!-- Main Navigation -->
    <nav th:fragment="nav" class="navbar navbar-expand-md navbar-dark bg-primary">
      <a class="navbar-brand" th:href="@{/}">Comic Reading</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/comics}">Comics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/addComic}">Add</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Content Section -->
    <section class="my-5">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  stuff goes here
              </div>
          </div>
      </div>
  </section>
    
    <!-- Footer -->
    <footer th:fragment="footer" class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted">&copy; 2023 Johann Jungbauer.</p>
        </div>
      </div>
    </footer>
  
  </body>
  
</html>