<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/generalTable.css}"/>
</head>

<body>
    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Welcome...</h1>
                        <div class="col-md-6">
                            <p>
                                This is a site backed by a Spring Boot app that I set up to showcase some work and to track, for myself, the comics I like reading.
                            </p>
                            <p>
                                If you'd like to demo the site there is a demo user for login.
                                <table class="tg">
                                    <tr>
                                        <td>Username:</td><td>demo@demo.com</td>
                                    </tr>
                                    <tr>
                                        <td>Password:</td><td>demo</td>
                                    </tr>
                                </table>
                            </p>
                            <p>
                                User registration is currently gated behind admin user access because I'm not running this as public service.
                                You can look at the code implementation on <a target="_blank" href="https://github.com/jungbauer/comicreading">Github.com</a>.
                            </p>
                            <p>
                                Thanks, Johann
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>