<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Welcome</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Welcome to Our Site</h1>
                        <a th:href="@{/}">home page 1</a>
                        <a th:href="@{/user/registration}">/user/registration 1</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>